
<form action="/" method="POST" enctype="multipart/form-data" >

    <h3>Upload Profile Picture</h3>

    <input type="file" name="sampleFile" accept="image/*">

    <input type="submit" class="btn btn-primary" />
</form>


<article class="card">
    <img
        class="card__image"
        src="/img/default.jpg"
        alt="user profile"
    >
    <h1 class="card__title">HAHS</h1>
    <h3 class="card__job">Web Developer</h3>
    <p class="card__about">
        Hi! I am Alex, I am a web developer
    </p>
    <button class="btn btn-primary" type="button">View Profile</button>
</article>